
.controls{
background:#FFC107;
    padding: none;

 margin: 0px;
}
.toolbar{
     padding: none;
background:#e0e0e0;
 margin: 0px;
border-bottom:1px solid #e0e0e0;
    width:100%;
}
.cbt{
    height:40px;
    width:40px;
    min-width: 1%;
}
.data{
    height:1px;
    width:1px;
    background:transparent;
    color:transparent;
    border:none;
}
.idbt{
    width:149px;
    border:none;
    height:20px;
    background:#e0e0e0;
    margin-left:-12px;
}
.idbt:hover{

    border:none;
    background:#dddddd;
}
.idbt:active{

    border:none;
    background:#cccccc;
}
.controlbar{
    background:#cccccc;
    width:100%;
    height:32px;

}
.nbt{
    margin-top:2px;
    margin-left:2px;
}
.input{

    width:140px;
    border:none;
    height:28px;
    margin-top:2px;
    background:#eeeeee;
}
.titleup{
    color:#222222;
    font-size:16px;
    margin-top:10px;
    margin-left:20px;
}
.versions2{
    font-family: 'robotoregular';
    margin-left:25px;
    padding:none;
    margin-top:-15px;
}
.versions1{
    font-family: 'robotoregular';
    margin-left:25px;
    padding:none;
    margin-top:15px;
}
.versions3{
    font-family: 'robotoregular';
    margin-left:25px;
    padding:none;
    margin-top:-15px;
    margin-bottom: 45px;
}
.spcline{
    background:#676767;
    width:525px;
    height:1px;
    margin-left:30px;
}
.cfu{
    width:525px;
    height:60px;
    margin-left:30px;
}
.anguframe{
  height:100%;
  width:100%;
}
.cssheader{
background:#ffc107;
}
.cssedit{

}
.cssheadertext{

}
.jssedit{

}
.fulltop{

  height:100%;
  width:100%;
}




#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 2000;
    cursor: pointer;
}
.settingswin{
height:400px;
width:600px;
background:#ffffff;
border-radius:3px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
margin-top:100px;
animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
#settingsf{
  height:370px;
  width:100%;
  border:none;
  border-radius:3px;
}
.close{
  background:#ffffff;
  -webkit-border-radius: 0px 3px 0px 0px;
border-radius: 0px 3px 0px 0px;
  border:none;
  color:#333333;
  height:30px;

}
.close:hover{
  background:#ffcdd2;
  -webkit-border-radius: 0px 3px 0px 0px;
border-radius: 0px 3px 0px 0px;
  border:none;
  color:#c62828;

}


}
.topbarthing{
  height:30px;
}
.sb{
  border:none;
  background:#e0e0e0;
  border-radius:2px;
  height:20px;
  float:right;
}
.setsw{
  float:right;
}



#openov {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 2000;
    cursor: pointer;
}
.openwin{
height:100px;
width:600px;
background:#ffffff;
border-radius:3px;
box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
margin-top:100px;
animation: animationFrames ease 1s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode:forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames ease 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
  -moz-animation: animationFrames ease 1s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames ease 1s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames ease 1s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}

@keyframes animationFrames{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    opacity:0;
    -o-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -o-transform:  translate(0px,0px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    opacity:0;
    -ms-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -ms-transform:  translate(0px,0px)  ;
  }
}
#fileToLoad{
   margin-top:25px;
}