
/* You can copy below this*/
.btn-material {
		    padding: 10px 20px;
		    overflow: hidden;
		    position: relative;
		    text-decoration: none;
		    border-radius: 4px;
  background:#ffc107;
		  
		    border: none;
		    font-size: 14px;
		    text-align: center;
		    width: auto;
        color:#fff;
        text-transform:none;
        font-family: 'robotoregular', sans-serif;
		}
.btn-material:hover {
		 
  background:#ffb300;
		  
		}

.btn-material:active {
		 
  background:#ffa000;
		  
		}




.lc{
    background:red;
}
.linux-optin-header{
    background:url(../core/linux/images/linux-optin.png);
    width:457px;
    height:165px;
    background-size:auto;
    position:absolute;
    margin-top:300px;
    margin-left:calc(384px - 228.5px);
}
.manifest-header{
    background:url(../img/manifest.png);
    width:457px;
    height:165px;
    background-size:contain;
    background-repeat:no-repeat;
    position:absolute;
    margin-top:300px;
    margin-left:calc(384px - 228.5px);
}
 .icon{
            background:url(../core/linux/images/crostini-linux.png);
            height:50px;
            width:50px;
            background-size:50px;
             margin-left:50px;
            margin-top:50px;
            position:absolute;
        }
.mf-icon{
            background:url(../img/manifest-icon.png);
            height:50px;
            width:50px;
            background-size:50px;
             margin-left:50px;
            margin-top:50px;
            position:absolute;
        }
        .title{
          margin-left:50px;
            margin-top:125px;  
            position:absolute;
            color:#222;
            font-size:25px;
        }
        
        

.btn-material-no {
		    padding: 10px 20px;
		    overflow: hidden;
		    position: relative;
		    text-decoration: none;
		    border-radius: 4px;
  background:transparent;
		  -webkit-box-shadow: inset 0px 0px 0px 1px #999999;
-moz-box-shadow: inset 0px 0px 0px 1px #999999;
box-shadow: inset 0px 0px 0px 1px #999999;
		    border: none;
		    font-size: 14px;
		    text-align: center;
		    width: auto;
        color:#777;
        text-transform:none;
        font-family: 'robotoregular', sans-serif;
    
		}
.btn-material-no:hover {
		  
		  -webkit-box-shadow: inset 0px 0px 0px 1px #ffb300;
-moz-box-shadow: inset 0px 0px 0px 1px #ffb300;
box-shadow: inset 0px 0px 0px 1px #ffb300;
		   
        color:#ffb300;
        
		}
.btn-material-no:active {
		  
		  -webkit-box-shadow: inset 0px 0px 0px 1px #ffa000;
-moz-box-shadow: inset 0px 0px 0px 1px #ffa000;
box-shadow: inset 0px 0px 0px 1px #ffa000;
		   
        color:#ffa000;
        
		}
.title{
    font-family: 'product_sansregular';
}
.linux-optin-card{
    height:640px;
    width:768px;
    background:#fff;
    border-radius:0px;
    
    
}

.linux-btn{
    margin-top:580px;
    float:right;
    margin-right:20px;
    
}
.desc{
    font-family:'robotoregular', sans-serif;
    position:absolute;
    margin-top:200px;
    margin-left:50px;
}
.eula-btn{
    margin-top:580px;
    float:right;
    margin-right:20px;
}
 .component{
                 background:#eee;
     
                 width:600px;
                 height:50px;
             }
             .name{
                 color:#222;
                 float:left;
                 font-size:15px;
                 padding:15px;
             }
             .version{
                 color:#757575;
                 float:left;
                 font-size:15px;
                 padding:15px;
             }
             .check{
                 float:left;
                 padding:15px;
                 margin-left:250px;
             }
.check2{
                 float:left;
                 padding:15px;
                 margin-left:245px;
             }
.check3{
                 float:left;
                 padding:15px;
                 margin-left:290px;
             }
.check4{
                 float:left;
                 padding:15px;
                 margin-left:225px;
             }
 .eula{
            height:375px;
            width:600px;
            
            background:#eee;
            overflow:auto;
            border-radius:5px;
            font-family:'robotoregular', sans-serif;
            margin-top:170px;
            position:absolute;
            margin-left:calc(384px - 300px);
        }
        .innertext{
            height:375px;
            width:550px;
            
            margin:25px;
            font-family:'robotoregular', sans-serif;
            margin-bottom:25px;
            position:absolute;
            margin-left:25px;
        }